.clearrow{
    background:  "#fff"
}

.highlightrow{
    background: "#dee2e6"
}
.assignStallWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    .formControl{
        margin-right: 10px;
        input{
            top: 2px;
            position: relative;
            margin-right: 5px;
        }
        
    }
    @media(max-width:991px) {
        button{
            margin-top: 10px;
        }
    }
    
}